In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [2]:
# import some data to play with
fraud = pd.read_csv('/content/Fraud_check.csv')

In [3]:
fraud.head()

  Undergrad Marital.Status  ...  Work.Experience  Urban
0        NO         Single  ...               10    YES
1       YES       Divorced  ...               18    YES
2        NO        Married  ...               30    YES
3       YES         Single  ...               15    YES
4        NO        Married  ...               28     NO

[5 rows x 6 columns]

In [4]:
df=fraud.rename(columns={'Marital.Status':'Marital','Taxable.Income':'Tax','City.Population':'population','Work.Experience':'experience'}, inplace = False)

In [5]:
df

    Undergrad   Marital    Tax  population  experience Urban
0          NO    Single  68833       50047          10   YES
1         YES  Divorced  33700      134075          18   YES
2          NO   Married  36925      160205          30   YES
3         YES    Single  50190      193264          15   YES
4          NO   Married  81002       27533          28    NO
..        ...       ...    ...         ...         ...   ...
595       YES  Divorced  76340       39492           7   YES
596       YES  Divorced  69967       55369           2   YES
597        NO  Divorced  47334      154058           0   YES
598       YES   Married  98592      180083          17    NO
599        NO  Divorced  96519      158137          16    NO

[600 rows x 6 columns]

In [6]:
df['risk'] = df.Tax.map(lambda x: 1 if x>=30000 else 0)

In [10]:
df['Undergrad']=df['Undergrad'].astype('category')
df['Marital']=df['Marital'].astype('category')
df['Urban']=df['Urban'].astype('category')

In [11]:
df['Undergrad']=df['Undergrad'].cat.codes
df['Marital']=df['Marital'].cat.codes
df['Urban']=df['Urban'].cat.codes
df.tail()

     Undergrad  Marital    Tax  population  experience  Urban  risk
595          1        0  76340       39492           7      1     1
596          1        0  69967       55369           2      1     1
597          0        0  47334      154058           0      1     1
598          1        1  98592      180083          17      0     1
599          0        0  96519      158137          16      0     1

In [12]:
df1=df.drop(['Tax'], axis = 1)

In [13]:
df1

     Undergrad  Marital  population  experience  Urban  risk
0            0        2       50047          10      1     1
1            1        0      134075          18      1     1
2            0        1      160205          30      1     1
3            1        2      193264          15      1     1
4            0        1       27533          28      0     1
..         ...      ...         ...         ...    ...   ...
595          1        0       39492           7      1     1
596          1        0       55369           2      1     1
597          0        0      154058           0      1     1
598          1        1      180083          17      0     1
599          0        0      158137          16      0     1

[600 rows x 6 columns]

In [14]:
x=df1.iloc[:,0:4]
y=df1['risk']

In [15]:
# Splitting data into training and testing data set
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2,random_state=0)

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [17]:
clf=RandomForestClassifier(n_estimators=100)

In [18]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
y_pred=clf.predict(x_test)

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.725

Random forest with kfold

In [21]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [22]:
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.7266666666666666

RANDOM FOREST WITH GRIDSEARCH

In [23]:
from sklearn.model_selection import learning_curve, GridSearchCV

In [24]:
rfc = RandomForestClassifier(n_jobs=-1,max_features= 'sqrt' ,n_estimators=50, oob_score = True) 

param_grid = { 
    'n_estimators': [200, 700,500,1000],
    'max_features': ['auto', 'sqrt', 'log2']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(x, y)
print (CV_rfc.best_params_)

{'max_features': 'sqrt', 'n_estimators': 200}

In [26]:
rfc = RandomForestClassifier(n_jobs=-1,max_features= 'sqrt' ,n_estimators=200, oob_score = True)

In [27]:
CV_rfc = GridSearchCV(rfc,param_grid,scoring='accuracy')
CV_rfc.fit(x_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='sqrt',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=200, n_jobs=-1,
                                              oob_score=True, random_state=None,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 700, 500, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [29]:
y_pred1=CV_rfc.predict(x_test)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred1))

Accuracy: 0.725