In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [2]:
# import some data to play with
company = pd.read_csv('/content/Company_Data.csv')

In [3]:
company['High'] = company.Sales.map(lambda x: 1 if x>8 else 0)
company['ShelveLoc']=company['ShelveLoc'].astype('category')
company['Urban']=company['Urban'].astype('category')
company['US']=company['US'].astype('category')
company.dtypes
company.head()

   Sales  CompPrice  Income  Advertising  ...  Education  Urban   US  High
0   9.50        138      73           11  ...         17    Yes  Yes     1
1  11.22        111      48           16  ...         10    Yes  Yes     1
2  10.06        113      35           10  ...         12    Yes  Yes     1
3   7.40        117     100            4  ...         14    Yes  Yes     0
4   4.15        141      64            3  ...         13    Yes   No     0

[5 rows x 12 columns]

In [4]:
company['ShelveLoc']=company['ShelveLoc'].cat.codes
company['Urban']=company['Urban'].cat.codes
company['US']=company['US'].cat.codes
company.tail()

     Sales  CompPrice  Income  Advertising  ...  Education  Urban  US  High
395  12.57        138     108           17  ...         14      1   1     1
396   6.14        139      23            3  ...         11      0   1     0
397   7.41        162      26           12  ...         18      1   1     0
398   5.94        100      79            7  ...         12      1   1     0
399   9.71        134      37            0  ...         16      1   1     1

[5 rows x 12 columns]

In [5]:
x=company.iloc[:,1:11]
y=company['High']

In [6]:
# Splitting data into training and testing data set
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2,random_state=0)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [10]:
clf=RandomForestClassifier(n_estimators=100)

In [12]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [13]:
y_pred=clf.predict(x_test)

In [14]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.775

RANDOM FOREST WITH KFOLD

In [16]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [17]:
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.805

RANDOM FOREST WITH GRIDSEARCH

In [46]:

from sklearn.model_selection import learning_curve, GridSearchCV

In [57]:
rfc = RandomForestClassifier(n_jobs=-1,max_features= 'sqrt' ,n_estimators=50, oob_score = True) 

param_grid = { 
    'n_estimators': [200, 700,500,1000],
    'max_features': ['auto', 'sqrt', 'log2']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(x, y)
print (CV_rfc.best_params_)

{'max_features': 'auto', 'n_estimators': 200}

In [58]:
rfc = RandomForestClassifier(n_jobs=-1,max_features= 'auto' ,n_estimators=200, oob_score = True)

In [59]:
CV_rfc = GridSearchCV(rfc,param_grid,scoring='accuracy')
CV_rfc.fit(x_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=200, n_jobs=-1,
                                              oob_score=True, random_state=None,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 700, 500, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [60]:
y_pred1=CV_rfc.predict(x_test)

In [61]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred1))

Accuracy: 0.775